@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  width: 100vw;
  height: 100vh;
}

.transition-colors{
  transition-duration: 500ms;
}

/* Example scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.scale-250{
  transform: scale(5)
}

.min-h-4-6{
  min-height: 66.6%;
}

.transition-shadow{
  transition-duration: 500ms;
}
